.header-col{
    background-color: rgb(41, 41, 100);

}
.header-sub-col{
    background-color: white;
    height: 25px;
}
section{
    padding-bottom: 25px;
}
.jumbotron,
.second-main-col{
    background-color: rgb(82, 236, 159);
}
.jumbo-image{
    background-image: url(../img/avatar.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
}
.fa-star{
    font-size: 30px;
}
.bottom-text{
    margin-bottom: 10px;
}
.main-image{
    height: 250px;
    border-radius: 10px;
    background-size: cover;
    background-position:center;
}
.image1{
    background-image: url(../img/cabin.png);
    
}
.image2{
    background-image: url(../img/cake.png);
}   
.image3{
    background-image: url(../img/circus.png);

}
.image4{
    background-image: url(../img/game.png);

}
.image5{
    background-image: url(../img/safe.png);
}
.image6{
    background-image: url(../img/submarine.png);
}
.btn-primary{
    background-color: rgb(82, 236, 159);
    border: 1px solid white;
    margin-bottom: 10px;
}
.btn-primary:hover{
    background-color: rgb(82, 236, 159);
    border: 1px solid white;
}
.footer-col{
    background-color: rgb(48, 48, 128);
}
.footer-sub-col{
    margin-bottom: 10px;
}
.fab{
    color: white;
    font-size: 30px;
}
.footer-final-col{
    background-color: rgb(41, 41, 100);
}
p a{
    color: green;
}